<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Dojo Scheduler - {% block title %}{% endblock %}</title>
    <script src="/static/js/jquery-1.4.2.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/css/960.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/css/app.css" type="text/css" media="screen" />
    {% block js %}{% endblock %}
    {% block css %}{% endblock %}
</head>
<body>
    <div id="header" class="container_12">
        <div id="header_content" class="grid_12 header">
            <div class="logo"></div>
            <p class="title">Dojo Scheduler</p>
            <p class="subtitle">Schedule your dojo here</p>
            {% block header %}{% endblock %}
        </div>
        <div id="header_menu" class="grid_12 menu">
            [<a href="/">Home</a>] | [<a href="/dojo/new">New Dojo</a>]
            {% block menu %}{% endblock %}
        </div>
    </div>

    <div id="content" class="container_12">
        <div id="left_column" class="grid_3 left-column">
            {% block left-column %}{% endblock %}
        </div>

        <div id="main_column" class="grid_9 main-column">
            {% block main-column %}{% endblock %}
            Outra coisa
        </div>
    </div>

    <div id="footer" class="container_12">
        <div id="footer_content" class="grid_12 footer">
            Code distributed under GPL by Bernardo Heynemann
            {% block footer %}{% endblock %}
        </div>
    </div>
</body>
</html>
